<div class="flex-grow">
  <div class="hidden lg:block h-full">
    @let filePlaying = playing();

    @if(filePlaying) {
    <div class="flex justify-center items-center h-full">
      <div class="max-w-90 overflow-hidden bg-stone-900 p-4 pb-8 rounded-lg shadow-lg border-1 border-stone-600">
        <div class="py-4 px-8">
          <img [src]="filePlaying.icon ?? ''" [alt]="filePlaying.name" class="h-full w-full top-0 left-0 object-cover"
            width="512" height="512" />
        </div>
        <h3 class="font-bold overflow-hidden text-nowrap text-ellipsis text-center">{{filePlaying.name}}</h3>
      </div>
    </div>
    }
  </div>
</div>
<div
  class="flex flex-col w-full bg-black bg-opacity-35 animate-transform-from-end sm:border-s-1 sm:w-xl border-zinc-600 px-3">
  <div class="bg-black bg-opacity-30 flex px-2 py-3">
    <p class="w-full text-xl font-bold">Playlist de músicas</p>
  </div>
  <div class="flex flex-col p-2 overflow-y-auto gap-2">
    @for(file of playlist(); track file.src) {
    <div (click)="handlerClick(file)"
      class="grid grid-cols-[2.5rem_calc(100%_-_2.5rem)] cursor-pointer gap-2 p-2 rounded-md hover:bg-stone-700 border-1"
      [class]="file.src == filePlaying?.src ? ['border-emerald-400', 'bg-stone-900'] : ['border-transparent']">
      <div class="flex flex-col justify-center items-center w-10 h-10 overflow-hidden rounded-md">
        <img [src]="file.icon ?? ''" [alt]="file.name" class="h-full w-full top-0 left-0 object-cover" width="512"
          height="512" />
      </div>
      <div class="flex gap-2 items-center">
        <a [href]="file.href" (click)="preventDefault($event)" class="overflow-hidden text-nowrap text-ellipsis">
          {{file.name}}
        </a>
        @if(file.src == filePlaying?.src) {
        <fa-icon [icon]="faVolumeHigh" class="ms-auto me-2" />
        }
      </div>
    </div>
    }
  </div>
</div>